@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;700&display=swap');
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Fira Sans';
    box-sizing: border-box;
}
body {
    background: #F3F2FA;
}
.container {
    display: grid;
    place-items: center;
}
header {
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #E4E3EB;
    background: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1045px;
}
.himg {
    border: none;
    outline: none;
}
.Hbut {
    border-radius: 8px;
    background: #5D37F3;
    display: inline-flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: none;
    outline: none;
    cursor: pointer;
}
.enter {
    color: #FFF;
    font-family: 'Fira Sans';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; 
}
.locArr {
    margin-left: -640px;
    margin-top: 40px;
    cursor: pointer;
}
.spliP {
    margin-top: 40px;
    width: 720px;
    color: #404049;
    font-family: FiraGO;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}
.infoHeader2 {
    margin-top: 24px;
    width: 720px;
    color: #1A1A1F;
    font-family: FiraGO;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
}
.BAP {  
    margin-top: 128px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 426px;
}
.Bh1 {
    color: #1A1A1F;
    font-family: 'Fira Sans';
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 72px; 
}
.colection {
    margin-top: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 24px;
}
.m1 {
    color: #D6961C;
    font-family: 'Fira Sans';
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; 
}
.m2 {
    color: #15C972;
    font-family: 'Fira Sans';
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; 
}
.m3 {
    color: #B71FDD;
    font-family: 'Fira Sans';
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; 
}
.m4 {
    color: #DC2828;
    font-family: 'Fira Sans';
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; 
}
.m5 {
    color: #60BE16;
    font-family: 'Fira Sans';
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; 
}
.m6 {
    color: #1AC7A8;
    font-family: 'Fira Sans';
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; 
}
.bc {
    display: flex;
    padding: 8px 16px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 30px;
    outline: none;
    cursor: pointer;
    border-radius: 30px;
    border: 1px solid #E9EFE9;
}
.bc:hover{
    border-radius: 30px;
    border: 1px solid #000;
    background: #E9EFE9;
}
.infoCont {
    display: grid;
    place-items: center;
    grid-template-areas: 'erti ori sami';
    margin-top: 64px;
    column-gap: 32px;
    row-gap: 56px;
    margin-bottom: 400px;
}
.inOne {
    grid-area: erti;
    cursor: pointer;
}
.intwo {
    grid-area: ori;
    cursor: pointer;
}
.inthre {
    grid-area: sami;
    cursor: pointer;
}
.inImg {
    width: 408px;
    height: 328px;
}
.name {
    margin-top: 24px;
    color: #1A1A1F;
    font-family: 'Fira Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}
.date {
    margin-top: 8px;
    color: #85858D;
    font-family: 'Fira Sans';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; 
}
.infoHeader {
    margin-top: 16px;
    width: 408px;
    color: #1A1A1F;
    font-family: 'Fira Sans';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}
.butOne {
    margin-top: 36px;
    align-items: flex-start;
    gap: 20px;
    border-radius: 30px;
    outline: none;
    cursor: pointer;
    border-radius: 30px;
    border: 1px solid #E9EFE9;
}
.butOne:hover{
    border-radius: 30px;
    border: 1px solid #000;
    background: #EEE1F7;
}
.buttwo {
    margin-left: 16px;
    align-items: flex-start;
    gap: 20px;
    border-radius: 30px;
    outline: none;
    cursor: pointer;
    border-radius: 30px;
    border: 1px solid #E9EFE9;
}
.buttwo:hover{
    border-radius: 30px;
    border: 1px solid #000;
    background: #EEE1F7;
}
.butthre {
    margin-left: 16px;
    align-items: flex-start;
    gap: 20px;
    border-radius: 30px;
    outline: none;
    cursor: pointer;
    border-radius: 30px;
    border: 1px solid #E9EFE9;
}
.butthre:hover{
    border-radius: 30px;
    border: 1px solid #000;
    background: #EEE1F7;
}
.iInfo {
    margin-top: 16px;
    width: 408px;
    color: #404049;
    font-family: 'Fira Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; 
}
.aForall {
    color: #5D37F3;
    font-family: 'Fira Sans';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; 
}
.LinkArrow {
    position: absolute;
    cursor: pointer;
}
.MSh1 {
    width: 720px;
    color: #1A1A1F;
    font-family: FiraGO;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; 
}
.msgavsiStats {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 98px;
}
.arrowDiv2 {
    margin-left: 450px;
}
.LongInfo {
    margin-left: 290px;
    margin-top: -40px;
}
.ar1 {
    cursor: pointer;
}
.ar2 {
    cursor: pointer;
}
.popInfo {
    display: grid;
    place-items: center;
    width: 480px;
    height: 272px;
    flex-shrink: 0;
    border-radius: 12px;
    background-color: #FFF;
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: 200ms ease-in-out;
    z-index: 10;
}
.popInfo.active {
    transform: translate(-50%,-50%) scale(1);
}
.poph1 {
    color: #1A1A1F;
    text-align: center;
    font-family: FiraGO;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; 
    margin-top: 30px;
}
.poph2 {
    color: #1A1A1F;
    font-family: FiraGO;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; 
    margin-left: -350px;
}
.popinput {
    color: #85858D;
    font-family: FiraGO;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 
    text-align:bottom 0px;padding-left:20px;
}
input[type=email]{
    width: 432px;
    height: 44px;
    flex-shrink: 0;
    border-radius: 12px;
    border: 1.5px solid #5D37F3;
    background: #F7F7FF;
}
::placeholder {
    position: absolute;
    left: 20px;
  }
.inpopbut {
    display: flex;
    width: 432px;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #5D37F3;
    border: none;
    outline: none;
    cursor: pointer;
    margin-bottom: 40px;
}
.popsptx {
    color: #FFF;
    font-family: FiraGO;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; 
}
.errorsinPosta {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -280px;
    margin-top: -5px;
    display:none ;
}
.errorPosta {
    color: #EA1919;
    font-family: FiraGO;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 
}
#blur {
    transition: 200ms ease-in-out;
    position: fixed;
    opacity: 0; 
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #1A1A1F;
    pointer-events: none;
}
#blur.active {
    pointer-events: all;
    opacity: 0.24;
}